[submodule "vendor/src/github.com/crowdmob/goamz"]
	path = vendor/src/github.com/crowdmob/goamz
	url = https://github.com/crowdmob/goamz.git
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/src/github.com/cespare/go-apachelog"]
	path = vendor/src/github.com/cespare/go-apachelog
	url = https://github.com/cespare/go-apachelog.git
